{%extends "base.html" %} {% block css_link %}
<link rel="stylesheet" href="/assets/css/style_chat.css">
{% endblock %}
 {% block title %}Messenger{% endblock title %} 
{% block content%}

<nav class="navbar justify-content-between">
  <a class="navbar-brand ">Messenger</a>
  <p class="navbar-brand cc-user">Welcome: {{user.nickname()}}</p>
  <a href="{{ logout_url }}"><button class="button1  my-2 my-sm-0 btn-lg" type="submit" name="logout">Logout</button></a>

</nav>

<div class="container">

    <h1 class="text-center mb-5">Do you really want to delete this message?</h1>
    <div class="row">
            <div class="col col-lg-6">
        <form action="/chat/{{ message.key.id()}}/delete" method="post">
            
            <input class="col-md-4 float-right     btn " type="submit" value="Yes" >
           
        </form>
        </div>
        <div class="col col-lg-6">
        <form action="/chat" method="post">
            <input class="col-md-4   btn " type="submit" value="No" >
        </form>
    </div>
        </div>

</div>

{% endblock content%}